.hero{
    
     background-image: url(https://www.w3schools.com/w3images/architect.jpg) no-repeat center/cover ;
}
.but button{
     background-color: rgb(235, 35, 35);
     color: aliceblue;
     display: flex;
          justify-content:end;
     text-align: center;
}
img{
     width:auto;
     padding: 12px;
}