
.but button{
     background-color: rgb(235, 35, 35);
     color: aliceblue;
     display: flex;
          justify-content:end;
     text-align: center;
}
img{
     padding: 12px;
     width:1330px;
}
.but{
     display:flex;
     justify-content: end;
}
.projects{
     display:grid ;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 1em;
}

.projects img{
     width: 100%;
}