div{
    padding-top: 200px;
    padding-left: 600px;
    border-radius: 10px;
    text-align: center;

  

}
h1{
    color: rgba(50, 153, 167, 0.664);
}

body{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/yB/r/83zWJdc6PJI.webp);
    background-repeat: no-repeat;
    background-size: 500px;
    
}
.create{
    color: rgb(73, 89, 236);
    border-color: rgb(48, 153, 202);
    width: 300px;
    height: 50px;
    border-radius: 50px;
}
.login{
    color: rgb(246, 246, 248);
    background-color: rgb(79, 148, 238) ;
    width: 100px;
    border-radius: 10px;
}
.mee img{
    width: 10px;
}