div{
    padding-top: 200px;
    padding-right: 10px;
    border-radius: 10px;
    text-align: center;

  

}
h1{
    color: rgb(47, 98, 192);
}
body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/960px-Facebook_f_logo_%282019%29.svg.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=thumbnail&_=20231203063624);
    background-repeat: no-repeat;
    background-size: 100px;
    justify-content: center;
}
.create{
    color: rgb(73, 89, 236);
    border-color: rgb(48, 153, 202);
    width: 300px;
    height: 50px;
    border-radius: 50px;
}
